.app.dark {
  --bg-color: #05055b;
  --inverted-bg-color: #c4c4ce;

  --primary-color: #02ab02;
  --secondary-color: #05ff05;
  --inverted-primary-color: #0e0e91;
  --inverted-secondary-color: #0013ff;
}
