.app.light {
  --bg-color: #c4c4ce;
  --inverted-bg-color: #05055b;

  --primary-color: #0505cc;
  --secondary-color: #001aff;
  --inverted-primary-color: #02ab02;
  --inverted-secondary-color: #05ff05
}
